.wrapperAbout{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    position: relative;
    margin: 0 auto;
    top: 20px;
}

.content_Image{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;


}
.content_Image img{    
    width: 250px;
    height: 250px;
    border-radius: 50%;
    position: relative;
    right: 40px;

}
.content{
    width: 70%;
    height: 100%;

}
.content .content_Text{
    margin: 20px;
    text-transform: capitalize;
    font-size: 1rem;
    text-align: justify;
    font-weight: 400;
    line-height: 180%;
}
.btnCv{
    position: relative;
    right: inherit;
    padding: 15px;
    border-radius: 7px;
    font-family: 'Gugi',cursive;
    cursor: pointer;
    transition: .5s;
    background-color: #025E73;  
    color: rgb(253, 253, 253);
    font-weight: bold;
}
.btnCv:hover{
    padding: 18px;
    
}
@media(max-width:707px) {
  
    .content_Image img{
        width:60%;
        height: 80%;
        right: 0px;
    }
    main{
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }
    .content{
        margin: 0 auto;
    }

}
@media(max-width: 480px){
    .content_Text{
        font-size: 20px;
    }
}
