@import url('https://fonts.googleapis.com/css2?family=Gugi&display=swap');
body {
    padding: 0;
    margin: 0;
    word-wrap: break-word;
    overflow-wrap: break-word;
    font-family: 'Gugi',cursive;
}

.Header-parallax{
    background-image: url("../../assets/image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh !important;
    overflow: hidden;
    background-attachment: fixed;
}
.Header-parallax.list-informations{
    display: block;
}
.list-informations{
    display: flex;
    flex-direction: row;
    color: #fff;
    padding: 30px;
    justify-content: end;
    gap: 35px;
    align-items: flex-end;
    list-style: none;
    cursor: pointer;
    font-size: clamp(20px,18px, 1.5em)
}
.informations:hover{
    font-size: 21px;
    transition: 1s;
    text-shadow: 5px solid #fff;
}
.section-titles h1,h2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    z-index: 50;
    position: relative;
    top: 120px;
}
.section-titles h1{
    font-size: clamp(0.7em, 1em + 5vw, 4em);
}
.section-titles h2{
    padding: 5px;
    font-size: clamp(0.4em, 0.7em + 2vw, 2em);
}
@media(max-width:527px) {
    .list-informations {
        justify-content: center;
        gap: 15px;
    }
    
}

