.CarroselWrapper{
    max-width: 124rem;
    padding: 4rem 1rem;
    margin: 0 auto;

}
.Titleprojects{
    text-align: center;
    padding: 15px;
    font-size: 40px;
}
.image_slider img{
    width: 100px;
}
.img_carrosel{
    width: 70%;
    border-radius: 5px;
    margin: 0 auto;
    position: relative;
}
.name-project{
    text-align: center;
    font-size: 20px;
    padding: 10px;
}
.img_wrapper{
display: flex;
justify-content: center;
flex-wrap: wrap;
}
.swiper_container{
    height: 52rem;
    padding: 2rem 0;
    position: relative;
}
.swiper_container img{
    width: 37rem;
    height: 42rem;
    border-radius: 2rem;
    object-fit: cover;
}
.swiper-controller{
position: relative;
  bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 480px) {
    .CarroselWrapper{
        width: 90vw;
    }
    .img-carrosel {
      width: 100%;
    }
    .name-project{
        font-size: 15px;
    }
  }
.btnMore{
    padding: 5px 10px;
    margin: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
}
