.carrosel_Wrapper{
    max-width: 60rem;
    padding: 4rem 2rem;
    margin: 0 auto;

}
.title_Projects{
    text-align: center;
    padding: 25px;
    font-size: 40px;
}

.name-project{
    text-align: center;
    font-size: 20px;
    padding: 10px;
}

.btnMore{
    padding: 5px 10px;
    margin: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
}
.image_Slider_LeaveHover{
    transition: .5s;
    opacity: 0.2;
}
.name_Project{
    position: relative;
    bottom: 350px;
    font-size: 40px;
    color: #000000;
    text-shadow: 5px solid #000;
    transition: .5s ease-in-out;
}
.name_Project_LeaveHover{
    opacity: 0;
}
.teste{
    opacity: 1;
    transition: 1.2s ease-in-out;
}

@media only screen and (max-width: 480px) {
    .CarroselWrapper{
        width: 90vw;
    }
    .img-carrosel {
      width: 100%;
    }
    .name-project{
        font-size: 15px;
    }
  }
