.header_parallax{
    background-image: url("../../assets/image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh !important;
    overflow: hidden;
    background-attachment: fixed;
}
.Header_parallax .list_informations{
    display: block;
}
.list_informations {
    display: flex;
    flex-direction: row;
   
    padding: 20px;
    justify-content: end;
    gap: 35px;
    align-items: flex-end;
    list-style: none;
    cursor: pointer;
  
}
.list_informations .informations{
    color: #fff;
    font-size: clamp(0.7em, 0.7em + 1vw, 1.2em);
}
.informations:hover{
    font-size: 21px;
    transition: 1s;
    text-shadow: 5px solid #fff;
}
.section_titles h1,h2{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    z-index: 50;
    position: relative;
    top: 120px;
   
}
.section_titles h1{
    font-size: clamp(0.7em, 1em + 5vw, 4em);
}
.section_titles h2{
    padding: 5px;
    font-size: clamp(0.4em, 0.7em + 2vw, 2em);
}
@media(max-width:653px) {
    .list-informations {
        justify-content: center;
        gap: 15px;
        font-size: 13px;
    }
    .section_titles{
        top: 400px;
    }
}
.list-informations a {
    text-decoration: none;
    color: #fff;
}
