.footer_container{
    background-color: #06000c;
    width: 100%;
    height: 90vh;
    position: relative;
    top: 100vh;
}
.title_footer{
    text-align: center;
    font-size: 25px;
    color: #fff;
    padding: 15px;
}
.container_wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    height: 40vh;
    gap: 30px   ;
 

}
.form_mail{
    display: flex;
    padding: 10px;
    gap: 20px;
    flex-direction: column;
    height: 100%;
    width: 50%;
    margin: 20px;
}

.input_form{
    width: 100%;
    padding: 5px;
    background: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    color: #fff;
    outline: 0;
    
}
.input_form_area{
 padding: 65px;
}
.input_form::placeholder{
    font-family: 'gugi',sans-serif;
}
.form_mail p{
    color: #fff;
    position: relative;

    font-size: 15px;

}
@media(max-width:579px){
    .title_footer{
        font-size: 15px;
    }
    .form_mail p{
        font-size: 14px;
    }
}
.max_character{
    color: #fff;
    position: relative;
    bottom: 20px;
}
.logo_socials{
    width: 40%;
    height: 70%;
    border-radius: 50%;
    
}
.wrapper_links {
    display: flex;
    justify-content: center;
    position: relative;
    padding-top: 40px;


}
.btnSubmit{
    padding: 10px;
    width: 30%;
    margin: 0 auto;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'gugi', sans-serif;
}
.btnSubmit:hover{
    transition: 0.5s;
    background-color: #2b2a2c;
    color: #fff;
}