.footer_container{
    background-color: #212225;
    width: 100%;
    height: 37vh;
    position: relative;
    top: 20vh;
}
.content_container{
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;

}
.content_container span{
    font-size: 30px;
    color: #fff;
}
.social_media{
    display: flex;
    flex-direction: row;
    gap: 25px;
    align-items: center;
}
.social_media img{
    max-width: 100%;
}
.copyright{
    color: #fff;
    font-family: 'Gugi',cursive;
}
